<style>
head {
  
  flex-direction: column;
}
.mainbg {
  background-image: url("background.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: lightblue;
  flex-direction: column;
}
;
.lead {
	display: flex;
	font-family: 'Roboto', helvetica, sans-serif;
	font-size: 100px;
	align-self: auto;
  text-align: center;

}

.location {
  text-align: center;
  display: flex;
  font-style: italic;
  font-family: 'Roboto', helvetica, sans-serif;
  font-size: 25px;
  margin: 10PX;
}
  
  
}
.dates {
	font-family: 'Roboto', helvetica, sans-serif;
	font-size: 20px;
	align-self: auto;
  position: relative;
  display: inline-flex;
  flex-direction: column;
  list-style-type: circle;
  margin: 10px;
  padding-right: 5px;
  margin-top:10px;
  margin: 10px;
  border-width: 4px;
  border-radius: 15px 50px;
  padding-right: 20px;
  padding-left: 10px;
  text-align: center;
}

.title {
	font-size: large;
	font-family: helvetica, sans-serif;
	font-size: 50px;
	text-align: center;
	position: center;
	border-color: #76C7CD;
	border-style: dashed;
  align-items: center;
  justify-content: center;	
  flex-direction: column;
  text-shadow: 1px 1px gray;
  box-shadow: 4px 4px gray;
  margin: 10px;
  display: inline-block;


}
.container1 {
  display: flex;
  border: dotted;
  border-color: purple;
  border-width: 5px;
  border-width: auto;
  background-color: pink;
  font-size: 20px;
  align-items: center;
  justify-content: center;
  font-family: helvetica, sans-serif;
  margin-top:10px;
  margin: 10px;
  border-radius: 20px;
  opacity: 0.9;
}

.subtext {
	display: flex;
	border: double;
	border-color: red;
	border-width: 2px;
	font-size: 20px;
	align-self: bottom;
  font-family: helvetica, sans-serif;
  margin-top:10px;
  margin: 10px;
  border-radius: 15px 50px;
  padding-right: 10px;
  padding-left: 10px;

}

}

img.francis {
	display: flex;
            transform: translateZ(0);
            box-shadow: 0 0 1px rgba(0, 0, 0, 0);
            backface-visibility: hidden;
            -moz-osx-font-smoothing: grayscale;
            transition-duration: 0.2s;
            transition-property: transform;
        }

    .francis:hover,
    .francis:focus,
    .francis:active {
            transform: scale(1.1);

    object-fit: scale-down;

}
.titleimg {
	display: inline-block;
            transform: translateZ(0);
            box-shadow: 0 0 1px rgba(0, 0, 0, 0);
            backface-visibility: hidden;
            -moz-osx-font-smoothing: grayscale;
            transition-duration: 0.2s;
            transition-property: transform;
        }

   .titleimg:hover,
   .titleimg:focus,
   .titleimg:active {
            transform: scale(1.1);
}

.syn {
	font-family: helvetica;
  font-style: italic;
	font-size: 20px;
	border:6px solid yellow;
	align-self: auto;
  margin-top:10px;
  font-style: bold;
  margin: 10px;
  text-align: center;
}

.goback {
  padding: 50%;
}

}
</style>
