<style>
{background-color: slategray}
;
.lead {
	display: flex;
	font-family: 'Roboto', sans-serif;
	font-size: 50px;
}
.dates {
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
}

.title {
	font-size: large;
	font-family: chantal, sans-serif;
	font-size: 50px;
	text-align: center;
	position: center;
	border-color: #76C7CD;
	border-style: dashed;


}
.container1 {
  display: flex;
  border: dotted;
  border-color: blue;
  border-width: 5px;
  border-width: auto;
  background-color: pink;
  font-size: 20px;
}

.subtext {
	display: flex;
	border: double;
	border-color: red;
	border-width: 2px;
	font-size: 20px;
}

}

img.francis {
	display: inline-block;
            transform: translateZ(0);
            box-shadow: 0 0 1px rgba(0, 0, 0, 0);
            backface-visibility: hidden;
            -moz-osx-font-smoothing: grayscale;
            transition-duration: 0.2s;
            transition-property: transform;
        }

    .francis:hover,
    .francis:focus,
    .francis:active {
            transform: scale(1.1);
	resize
    height: auto; 
    width: auto; 
    max-width: 300px; 
    max-height: 300px;

}
.titleimg {
	display: inline-block;
            transform: translateZ(0);
            box-shadow: 0 0 1px rgba(0, 0, 0, 0);
            backface-visibility: hidden;
            -moz-osx-font-smoothing: grayscale;
            transition-duration: 0.2s;
            transition-property: transform;
        }

   .titleimg:hover,
   .titleimg:focus,
   .titleimg:active {
            transform: scale(1.1);
}

.syn {
	font-family: arial;
	font-size: 18px;
	border:6px solid yellow;

}
</style>
