
<style>
    .pg1 { background-color: white;
            color: black;
        }

    .textpg1 {
        font-family: chantal, sans-serif;
            font-style: italic;
            font-weight: 300;
            font-size: 225px;
            text-align: center;

        }   

    .page1hl {
         font-family: chantal, sans-serif;
            font-weight: 300;
            font-size: 250px;
            color: black;
            text-shadow: black;
            text-align: center;
            text-decoration: none;
        }
a.page1hl:hover, a.page1hl:active {color: red;}
    }
    .textpg1 {
    position: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    }

    .textpg2 {
        font-family: chantal, sans-serif;
            font-style: thin;
            font-weight: 300;
            font-size: 225px;
            text-align: center;
            text-decoration: none;
            color: white;
    }
    .page3hl {
        text-decoration: none;
        text-shadow: red;
    }
    
    a.page3hl:hover, a.page3hl:active {color: red;}

    .page2body {
        background-color: black;
    }
    
    .imagepg2 {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 30%;
        background-image: black;

    }

    }
</style>