<style>
	
    @font-face {
    font-family:'terminal_grotesque';
    src: url('Web Fonts/Fonts/terminal_grotesque/terminal-grotesque-webfont.eot');
    src: url('Web Fonts/Fonts/terminal_grotesque/terminal-grotesque-webfont.eot?#iefix') format('embedded-opentype'),
         url('Web Fonts/Fonts/terminal_grotesque/terminal-grotesque-webfont.woff2') format('woff2'),
         url('Web Fonts/Fonts/terminal_grotesque/terminal-grotesque-webfont.woff') format('woff'),
         url('Web Fonts/Fonts/terminal_grotesque/terminal-grotesque-webfont.ttf') format('truetype'),
         url('Web Fonts/Fonts/terminal_grotesque/terminal-grotesque-webfont.svg#terminal_grotesqueregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

.page1 {
    font-family: 'terminal_grotesque'
}

.bluediag {
    background-color: #104571;
    width: 90%;
    height: 20px;
    top:50%;
    bottom: 50%;
    position: absolute;
    transform: rotate(30deg);
    padding-left: 50%;
    opacity: .7;
    padding-top: 50%;
    display: flex;
    font-size: 50px;
    font-weight: bold;

        }
.page2 {
    font-family: chantal, sans-serif;
            font-weight: 300;
            font-size: 24px;
            color: #104571;
             text-shadow: black;
             text-align: center;
             
         }
    .page2triangle {
    width: 50px;
    height: 20px;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-top: 50px solid #555;
     font-family: chantal, sans-serif;
            font-weight: 300;
            font-size: 28px;
            color: black;
             text-shadow: black;
             padding-left: 90%;
             position: absolute;

    }
    
	@import url('//fonts.googleapis.com/css?family=Crimson+Text|Lobster+Two');
		
		.page1 {

            font-family: chantal, sans-serif;
                font-weight: 300;
                font-size: 24px;
                color: black;
                text-shadow: black;
                text-align: left;
                text-decoration: none;
                display: inline-flex;
                width: 50%;
                padding-right: 50%;

            }

        }
        
}
        body {
    background-color: lightblue;
    margin: 0;
}

</style>
