<style>
	
	@import url('//fonts.googleapis.com/css?family=Crimson+Text|Lobster+Two');
		
		.page1 {

            font-family: chantal, sans-serif;
                font-weight: 300;
                font-size: 250px;
                color: black;
                text-shadow: black;
                text-align: center;
                text-decoration: none;
            }
		}
</style>
