html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  overflow: hidden;
  background: linear-gradient(to bottom, #202020, #111119);
}


#audioplayerskin{
  width: 300px;
  height: auto;
  margin: auto auto 20px auto;
  text-align:center;
  background-color: rgba(5, 173, 13, 0.49);
  background-color:transparent;
}

#pButton{
  height:130px;
  width: 130px;
  border: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  outline:none;
}

.play{background: url('icons/play_button.png') ;}
.pause{background: url('icons/pause_button.png') ;}

#volume_control{
  margin:auto;
  margin-top:0px;margin-bottom:0px;
  padding-top:0px;padding-bottom:0px;
  width:50%;
}

.fullscreen-bg {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -100;
  filter: blur(1px);
  opacity: 0.3;
}

.fullscreen-bg__video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media (min-aspect-ratio: 16/9) {
  .fullscreen-bg__video {
    height: 300%;
    top: -100%;
  }
}

@media (max-aspect-ratio: 16/9) {
  .fullscreen-bg__video {
    width: 300%;
    left: -100%;
  }
}

@media (max-width: 767px) {
  .fullscreen-bg {
    background: url('') center center / cover no-repeat;
  }

  .fullscreen-bg__video {
    display: none;
  }
}